// Font Family
@font-face {
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Metropolis-Regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/Metropolis-Regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Metropolis-700*/
@font-face {
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/Metropolis-Bold.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/Metropolis-Bold.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Metropolis-900*/
@font-face {
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('../fonts/Metropolis-ExtraBold.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/Metropolis-ExtraBold.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Metropolis';
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url('../fonts/Metropolis-LightItalic.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/Metropolis-LightItalic.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

// Mixins for Media Queries
@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin for-tablet-portrait-up {
    @media (min-width: 600px) {
        @content;
    }
}

@mixin for-tablet-landscape-up {
    @media (min-width: 900px) {
        @content;
    }
}

@mixin for-desktop-up {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin for-big-desktop-up {
    @media (min-width: 1800px) {
        @content;
    }
}

$mainOrange: #FB8700;
$mainBlack: #3A3A3A;
$darkBlack: #ABABAB;
$grey: #E9E9E9;

body {
    font-family: 'Metropolis', sans-serif;
    font-size: 16px;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
}
.container--1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container--2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.2rem;
}

